@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.input {
    box-sizing: border-box;
    font-family: $font-family-primary;
    border-radius: pxToRem(20);
    padding-left: pxToRem(16);
    padding-right: pxToRem(16);
    height: pxToRem(36);
    width: 100%;

    // p2 typography
    color: $color-primary-black;
    font-size: pxToRem(13);
    line-height: pxToRem(20);

    &::-webkit-input-placeholder {
        color: $color-secondary-slate;
    }

    border: 1px solid $color-secondary-cloud;

    &:focus {
        outline: none;
        border: 1px solid $color-primary-indigo;
    }

    &--error {
        border: 1px solid $color-supporting-red;
    }

    @include tablet {
        height: pxToRem(38);
        font-size: pxToRem(14);
        line-height: pxToRem(22);
    }

    &:disabled {
        background-color: $color-background-light-grey;
        cursor: not-allowed;
        color: $color-secondary-slate;
    }
}

.input-error-message {
    margin-top: pxToRem(4);
    font-size: pxToRem(12);
    line-height: pxToRem(16);
    color: $color-supporting-red;
    display: none;

    &.visible {
        display: block;
    }
}