@use "../../styles/functions" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.expenses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: pxToRem(24);
  margin-right: pxToRem(24);

  @include desktop {
    margin-left: pxToRem(32);
    margin-right: pxToRem(32);
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: pxToRem(8);
  }

  &__pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: pxToRem(8);
  }
}

.expense-table {
  &__card {
    gap: pxToRem(16);
    column-gap: pxToRem(45);

    @include tablet {
      gap: 0;
      column-gap: 0;
      &:hover {
        background-color: #2e66e512;
      }
    }
  }

  @include tablet {
    &__description {
      flex: 1;
    }

    &__category {
      flex: 1;
    }

    &__amount {
      flex: 1;
    }

    &__date {
      flex: 1;
    }

    &__recurrence {
      flex: 1;
    }

    &__actions {
      flex: 0.75;
    }
  }
}
