@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.expense-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //   align-items: center;
  overflow: hidden;
  width: 300px;
  justify-self: center;
  background-color: $color-primary-white;
  padding: 0 pxToRem(24) pxToRem(24) pxToRem(24);
  margin: pxToRem(16) pxToRem(24) pxToRem(24) pxToRem(24);
  border-top: 1px solid $color-secondary-cloud;
  box-shadow: 0px 2px 5px 0px rgba($color-primary-black, 0.1);
  border-radius: pxToRem(20);
  gap: pxToRem(12);

  @include tablet {
    width: 400px;
  }

  &__actions {
    margin-top: pxToRem(8);
    display: flex;
    justify-content: center;

    @include tablet {
      justify-content: flex-end;
    }
  }
}
