@use "./styles/variables" as *;
@use "./styles/functions" as *;
@use "./styles/mixins" as *;

.loading-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: pxToRem(16) auto;
}